SIGNING_KEYS=<JSON_KEY_RING>
CSRF_KEY=<CSRF_HMAC_KEY>
CONTENT_SESSION_KEY=<CONTENT_SESSION_KEY>
APP_PASSWORD_PEPPER=<APP_PASSWORD_PEPPER>
EPOCH_FLOOR=<OPTIONAL_OPERATOR_EPOCH_FLOOR>
DEV_PRINCIPAL_EMAIL=dev@example.invalid
DEV_PRINCIPAL_ID=dev_user
DEV_SPACE_ID=dev_space
DEV_ROOT_NODE_ID=dev_root
DEV_CSRF_KEY=<LOCAL_DEVELOPMENT_ONLY_RANDOM_KEY>
CURSOR_KEY=<CURSOR_HMAC_KEY>
